{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block content %}
    <form method="post">
      <table>
          <tr>{{ form.username.label }}{{ form.username }}{{ form.username.errors[0] }}</tr>
          <tr>{{ form.password.label }}{{ form.password }}{{ form.password.errors[0] }}</tr>
          <tr>{{ form.re_password.label }}{{ form.re_password }}{{ form.re_password.errors[0] }}</tr>
          <tr>{{ form.email.label }}{{ form.email }}{{ form.email.errors[0] }}</tr>
          <tr>{{ form.descrption.label }}{{ form.descrption }}</tr>
          <tr>{{ form.root }}</tr>
          <input type="text" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="submit" value="Register">
      </table>
    </form>
{% endblock %}